footer {
	background: $gray-800;
	color: lighten($white, 5%);

	@media(max-width: 923px){
		padding: 32px 12px;
	}	

	.wrapper {
		height: 80px;

		@media (max-width: 1119px) and (min-width: 924px){
			height: 60px;
		}
		
		@media(max-width: 923px){
			height: 40px;
		}
	}

	// LOGO
	.siteLogo-wrapper {
		font-weight: 700;
		text-transform: uppercase;
		font-size: 28px;
		cursor: default;
		
		@media(max-width: 923px){
			width: 100%;
			text-align: center;
		}

		a {
			color: $gray-600;
			@include transition(0.2s);
			text-decoration: none;
			outline: none;

			&:hover {
				color: $white;
			}
		}
	}

	// COPYRIGHT
	.copyright {
		color: $gray-600;
		cursor: default;
		font-size: 14px;
		
		@media(max-width: 923px){
			font-size: 13px;
			text-align: center;
			margin-top: 16px;
		}
	}

	// SOCIAL
	.socialContacts {
		@media(max-width: 923px){
			width: 100%;
			text-align: center;
		}

		ul {
			padding: 0px;
			margin: 0px;

			li {
				display: inline-block;
				list-style: none;
				font-size: 21px;
				line-height: 18px;
				padding: 10px;
				cursor: default;

				@media (max-width: 1119px) and (min-width: 924px){
					font-size: 18px;
				}	

				@media(max-width: 923px){
					font-size: 16px;
					padding: 6px;
				}

				a {
					color: $gray-800;
					background: $gray-600;
					@include transition(all 0.2);
					@include border-radius(50%);
					width: 26px;
					height: 26px;
					line-height: 26px;
					text-align: center;
					display: inline-block;

					@media (max-width: 1119px) {
						width: 24px;
						height: 24px;
						line-height: 24px;
					}

					@media(max-width: 923px){
						width: 24px;
						height: 24px;
						line-height: 24px;
					}

					&:hover {
						background: $white;
					}
				}
			}
		}
	}
}