.carousel.slide#carouselExampleSlidesOnly(data-ride="carousel")
	.carousel-inner
		.carousel-item.active
			.item(style="background-image: url(\"/images/banners/index_crane.jpg\")")

			.container.d-flex.info-wrapper.align-items-center
				.description-case
					.title 
						span.orange Уникальное
						|&nbsp;торговое предложение
					.text.
						Вы просто не сможете отказаться от нашего предложения, а если и попробуете, то наши крепкие сотрудники помогут вам передумать.
					.btn-wrapper
						a.btn.btn-default(href="#", target="_blank") Рискнуть

	include ../common/langs