@import url('https://fonts.googleapis.com/css?family=Montserrat:400,500,700,900');
/* Themes */
.app-wrapper {
	min-height: calc(100% - 80px);
	background: #F5F5F5;
	@include transition(all 0.24s);
}

.orange {
	color: $orange;
}

.btn-default {
	background: $orange;
	box-shadow: none !important;
	outline: none !important;
	font-weight: 900;
	line-height: normal;
	font-size: 18px;
	text-align: center;
	text-transform: uppercase;
	color: rgba(0, 0, 0, 0.56);
	padding: 12px 58px;
	border: 1px solid $orange;
	position: relative;
	@include transform(perspective(1px) translateZ(0));
    -webkit-tap-highlight-color: rgba(0,0,0,0);
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-transition-property: color;
    transition-property: color;
    -webkit-transition-duration: 0.14s;
    transition-duration: 0.14s;

	@media(max-width: 1379px) and (min-width: 924px) {
		font-size: 17px;	
	}

	@media(max-width: 923px){
		font-size: 14px;	
		padding: 10px 48px;
	}


    &::before {
    	content: "";
	    position: absolute;
	    z-index: -1;
	    top: 0;
	    left: 0;
	    right: 0;
	    bottom: 0;
	    background: rgba(252, 225, 83, 0.12);
	    -webkit-transform: scale(0);
	    transform: scale(0);
	    -webkit-transition-property: transform;
	    transition-property: transform;
	    -webkit-transition-duration: 0.2s;
	    transition-duration: 0.2s;
	    -webkit-transition-timing-function: ease-out;
	    transition-timing-function: ease-out;
    }

    &.dark {
    	&::before {
	   		background: #1D353A !important;
    	}

    	&:active {
			background: #1D353A !important;
		}

		&:hover,
		&:focus {
			@include box-shadow(0px 1px 2px 0px rgba(0,0,0,0.1) !important);
			border: 1px solid #1D353A !important;
			color: $orange !important;
		}
    }

	&:hover,
	&:focus {
		color: $orange !important;
		border: 1px solid $orange;
		background: rgba(252, 225, 83, 0);

		&::before {
			-webkit-transform: scale(1);
			transform: scale(1);
		}
	}

	&:active {
		background: rgba(252, 225, 83, 0.2);
	}
}

.section {
	padding: 128px 0px;

	@media(max-width: 1379px) and (min-width: 924px){
		padding: 110px 0px;
	}

	@media(max-width: 923px){
	    padding: 72px 0px;
	}
}

.section-title {
	font-style: normal;
	font-weight: bold;
	line-height: normal;
	font-size: 48px;
	text-align: center;
	color: #405052;
	margin-top: 0px;
	margin-bottom: 96px;
	cursor: default;

	&.white {
		color: $white;
	}

	@media(max-width: 1379px) and (min-width: 924px){
		margin-bottom: 80px;
		font-size: 42px;
	}
	@media(max-width: 923px){
		font-size: 36px;
		margin-bottom: 56px;
	}
}

@media (max-width: 991px) {
	body.mobile-menu {
		overflow: hidden;

		.app-wrapper {
			filter: blur(4px);
		}
	}
}

.form-control {
	border-bottom: 1px solid $gray-700;
}

.form-group {
	margin-bottom: 36px;

	.label-text {
		font-weight: bold;
		color: $gray-800;
	}
}

.icheckbox {
    width: 24px;
    height: 24px;
    display: inline-block;
    position: relative;
    margin-top: -24px;
    top: 5px;
    margin-right: 16px;
    border: 1px solid $gray-700;
    cursor: pointer;
    @include transition(all 0.24s);

    &.hover {
    	border-color: $orange;
    }

    &.checked {
    	&::before {
    		content: '✓';
			font-size: 28px;
			line-height: 24px;
			position: absolute;
			color: rgba(0,0,0,0.56);
			text-align: center;
			width: 100%;
			top: -2px;
			left: 1px;
    	}
    }
}

.check-group {
	margin-bottom: 24px;
}