html(lang='ru')
	include include/common/head
	body
		include include/common/header

		.app-wrapper
			include include/components/banner/pages
			+top-section("/images/bg/career_bg.png", true)
			
			section.top-section.mmtop
				.container
					.row
						.col-12
							.section-title.white.with-breadcrumbs КАРЬЕРА
							.section-breadcrumbs 
								a(href="/") Главная
								|&nbsp;&nbsp;|&nbsp;&nbsp;
								span Карьера
			
			section.section.mb
				.container
					.row
						.col-12
							.shadow-wrapper.item-sectio-info.career-wrapper
								.header-border
									.row
										.col-md-6.col-sm-6.col-xs-6
											.title Программист автоматической сварки
										.col-md-6.col-sm-6.col-xs-6.d-none.d-sm-block.d-xs-block.d-md-block.d-lg-block.d-xl-block
											a(href="mailto:rabota@viston.com", target="_blank").btn.btn-link.float-right Отправить резюме
								.container-fluid.b-bottom
									.row
										.col-md-6
											section.border-right-decor
												.title.mini ОПИСАНИЕ ВАКАНСИИ
												.text
													p Описание услуги, кратко и лаконично по основным моментам. Консольные краны-применяются для обслуживания ограниченных площадей, в цехах машиностроительных заводов для обслуживания.

												.title.mini ОБЯЗАННОСТИ
												.text
													p Описание услуги, кратко и лаконично по основным моментам. Консольные краны-применяются для обслуживания ограниченных площадей, в цехах машиностроительных заводов для обслуживания.
										.col-md-6
											section
												.text Описание услуги, кратко и лаконично по основным моментам. Консольные краны-применяются для обслуживания ограниченных площадей, в цехах машиностроительных заводов для обслуживания отдельных агрегатов.

												.title.mini ТРЕБОВАНИЯ
												.text Описание услуги, кратко и лаконично по основным моментам. Консольные краны-применяются для обслуживания ограниченных площадей, в цехах машиностроительных заводов для обслуживания отдельных агрегатов.
										.col-12.d-sm-none.d-xs-none.d-md-none.d-lg-none.d-xl-none
											a(href="mailto:rabota@viston.com", target="_blank").btn.btn-default.dark.small.contacts-resume Отправить резюме
								.header-border
									.row
										.col-md-6.col-sm-6.col-xs-6
											.title Оператор погрузчика
										.col-md-6.col-sm-6.col-xs-6.d-none.d-sm-block.d-xs-block.d-md-block.d-lg-block.d-xl-block
											a(href="mailto:rabota@viston.com", target="_blank").btn.btn-link.float-right Отправить резюме
								.container-fluid.b-bottom
									.row
										.col-md-6
											section.border-right-decor
												.title.mini ОПИСАНИЕ ВАКАНСИИ
												.text
													p Описание услуги, кратко и лаконично по основным моментам. Консольные краны-применяются для обслуживания ограниченных площадей, в цехах машиностроительных заводов для обслуживания.

												.title.mini ОБЯЗАННОСТИ
												.text
													p Описание услуги, кратко и лаконично по основным моментам. Консольные краны-применяются для обслуживания ограниченных площадей, в цехах машиностроительных заводов для обслуживания.
										.col-md-6
											section
												.text Описание услуги, кратко и лаконично по основным моментам. Консольные краны-применяются для обслуживания ограниченных площадей, в цехах машиностроительных заводов для обслуживания отдельных агрегатов.

												.title.mini ТРЕБОВАНИЯ
												.text Описание услуги, кратко и лаконично по основным моментам. Консольные краны-применяются для обслуживания ограниченных площадей, в цехах машиностроительных заводов для обслуживания отдельных агрегатов.

										.col-12.d-sm-none.d-xs-none.d-md-none.d-lg-none.d-xl-none
											a(href="mailto:rabota@viston.com", target="_blank").btn.btn-default.dark.small.contacts-resume Отправить резюме
								.header-border
									.row
										.col-md-6.col-sm-6.col-xs-6
											.title Оператор погрузчика
										.col-md-6.col-sm-6.col-xs-6.d-none.d-sm-block.d-xs-block.d-md-block.d-lg-block.d-xl-block
											a(href="mailto:rabota@viston.com", target="_blank").btn.btn-link.float-right Отправить резюме
								.container-fluid.b-bottom
									.row
										.col-md-6
											section.border-right-decor
												.title.mini ОПИСАНИЕ ВАКАНСИИ
												.text
													p Описание услуги, кратко и лаконично по основным моментам. Консольные краны-применяются для обслуживания ограниченных площадей, в цехах машиностроительных заводов для обслуживания.

												.title.mini ОБЯЗАННОСТИ
												.text
													p Описание услуги, кратко и лаконично по основным моментам. Консольные краны-применяются для обслуживания ограниченных площадей, в цехах машиностроительных заводов для обслуживания.
										.col-md-6
											section
												.text Описание услуги, кратко и лаконично по основным моментам. Консольные краны-применяются для обслуживания ограниченных площадей, в цехах машиностроительных заводов для обслуживания отдельных агрегатов.

												.title.mini ТРЕБОВАНИЯ
												.text Описание услуги, кратко и лаконично по основным моментам. Консольные краны-применяются для обслуживания ограниченных площадей, в цехах машиностроительных заводов для обслуживания отдельных агрегатов.

										.col-12.d-sm-none.d-xs-none.d-md-none.d-lg-none.d-xl-none
											a(href="mailto:rabota@viston.com", target="_blank").btn.btn-default.dark.small.contacts-resume Отправить резюме

			section.contacts-with-mail
				.title НЕ НАШЛИ СВОЮ ВАКАНСИЮ?
				.text Напишите нам письмо на адрес 
					a(href="mailto:rabota@viston.com", target="_blank") rabota@viston.com
					|,<br> и мы постараемся ответить вам в кратчайшие сроки.

		include include/common/footer