html(lang='ru')
	include include/common/head
	body
		include include/common/header

		.app-wrapper
			include include/components/banner/pages
			
			include include/components/sections/production
			include include/components/sections/contacts_feedback


		include include/common/footer