html(lang='ru')
	include include/common/head
	body
		include include/common/header

		.app-wrapper
			include include/components/banner/pages
			+top-section("/images/bg/pcat.jpg", true)
			
			section.top-section.mmtop
				.container
					.row
						.col-12
							.section-pre-title ПРОДУКЦИЯ
							.section-title.white.with-breadcrumbs КРАНЫ МОСТОВЫЕ
							.section-breadcrumbs 
								a(href="/") Главная
								|&nbsp;&nbsp;|&nbsp;&nbsp;
								a(href="/products.html") Продукция
								|&nbsp;&nbsp;|&nbsp;&nbsp;
								span Краны мостовые
			
			- var items = [{name: 'Кран C35-100'}, {name: 'Кран C35-100'}, {name: 'Кран C35-100'}]
			section.products-category-wrapper.section
				.container
					.row
						.col-12.info-case-product-category
							.container-fluid
								.row
									.col-md-4.imageInfo.d-none.d-xs-none.d-sm-none.d-md-block.d-lg-block(style="background: url('/images/tmp/kran-mostovoy-podvesnoy1.png') no-repeat center;")
									.col-md-8
										.textInfo
											.title ОПИСАНИЕ ПОДКАТЕГОРИИ
											.text
												p.
													Описание услуги, кратко и лаконично по основным моментам. Консольные краны-применяются для обслуживания ограниченных площадей, в цехах машиностроительных заводов для обслуживания отдельных агрегатов, в т. ч. примыкающих к стенам зданий или другим сооружениям, а также для передачи грузов из одного пролета здания. А также для передачи грузов из одного пролета здания.
												p.
													Описание услуги, кратко и лаконично по основным моментам. Консольные краны-применяются для обслуживания ограниченных площадей, в цехах машиностроительных заводов для обслуживания отдельных агрегатов, в т. ч. примыкающих к стенам зданий или другим сооружениям, а также для передачи грузов из одного пролета здания. А также для передачи грузов из одного пролета здания.
												p.
													Описание услуги, кратко и лаконично по основным моментам. Консольные краны-применяются для обслуживания ограниченных площадей, в цехах машиностроительных заводов для обслуживания отдельных агрегатов, в т. ч. примыкающих к стенам зданий или другим сооружениям, а также для передачи грузов из одного пролета здания. А также для передачи грузов из одного пролета здания.
												p.
													Описание услуги, кратко и лаконично по основным моментам. Консольные краны-применяются для обслуживания ограниченных площадей, в цехах машиностроительных заводов для обслуживания отдельных агрегатов, в т. ч. примыкающих к стенам зданий или другим сооружениям, а также для передачи грузов из одного пролета здания. А также для передачи грузов из одного пролета здания.

					.row
						.list-wrapper.d-flex.flex-wrap.shadow
							- for(var i = 0; i < items.length; ++i){
								.col-12
									.list-item
										.row
											.col-md-4
													.item-image.d-flex.align-items-center.justify-content-center
														img(src="/images/tmp/kran-mostovoy-podvesnoy1.png", alt="", title="")
											.col-md-8
												a.product-name(href="#")= items[i].name
												.product-description
													p.
														Специальные краны (спецкраны) VISTON спроектированы в индивидуальном порядке и предназначены для специальных производственных процессов. Таким образом, мы обеспечиваем максимальную эффективность, доступность и безопасность для Вашего персонала и Ваших систем производства. Мы предлагаем для наших клиентов все самое лучшее и надежное, так как имеем большой опыт в краностроении и знаем специфику процессов производства наших клиентов в таких сферах как: целлюлозно-бумажная промышленность, работа с сыпучими грузами, авиационная промышленность, производство и обработка стали, и многих других сферах.
													p.
														Узнать более детально о спецкранах производства VISTON, а также убедиться в их преимуществах и производительности, Вы можете, просмотрев страницу «Спецкраны!».
											.col-12
												a.btn.btn-link.float-right(href='#') Подробнее
												.clearfix
												.line
										.clearfix

							- }
			
			include include/components/sections/contacts_feedback


		include include/common/footer