footer
	.container
		.row
			.col-md-4
				.d-flex.align-items-center.wrapper
					.siteLogo-wrapper
						a(href="#") VISTON
			.col-md-4
				.d-flex.align-items-center.wrapper.justify-content-center
					.copyright ©2017 Viston Все права защищены
			.col-md-4
				.d-flex.align-items-center.wrapper.justify-content-end
					.socialContacts
						ul
							li
								a.hvr-pop(href="#", target="_blank", nofollow)
									i.mdi.mdi-facebook
							li
								a.hvr-pop(href="#", target="_blank", nofollow)
									i.mdi.mdi-twitter
							li
								a.hvr-pop(href="#", target="_blank", nofollow)
									i.mdi.mdi-google-plus