header.dark
	.container
		nav.navbar.navbar-expand-lg
			a.navbar-brand(href="#") VISTON
			
			.menu-btn-wrapper
				button.navbar-toggler(type="button", data-toggle="collapse", data-target="#navbarNavAltMarkup" ,aria-controls="navbarNavAltMarkup", aria-expanded="false", aria-label="Toggle navigation")
					i.mdi.mdi-menu

			.collapse.navbar-collapse.justify-content-end#navbarNavAltMarkup
				ul.navbar-nav
					span.nav-item.nav-link.active(href="#") Главная 
					a.nav-item.nav-link(href="#") Продукция
					a.nav-item.nav-link(href="#") Услуги
					a.nav-item.nav-link(href="#") Карьера
					a.nav-item.nav-link(href="#") Контакты

			.search-wrapper.d-flex.align-items-center
				//- class .load - loading
				span.search-toggle(title="Поиск", data-toggle="tooltip", onclick="common.header.search.init()")
					i.mdi.mdi-magnify
					i.mdi.mdi-close

				input#app-search(type="text", placeholder="Поиск")
