header
	.container
		nav.navbar.navbar-expand-lg
			a.navbar-brand(href="/index.html") VISTON

			.collapse.navbar-collapse.justify-content-end#navbarNavAltMarkup
				ul.navbar-nav
					span.nav-item.nav-link.active(href="/index.html") Главная 
					a.nav-item.nav-link(href="/products.html") Продукция
					a.nav-item.nav-link(href="/services.html") Услуги
					a.nav-item.nav-link(href="/career.html") Карьера
					a.nav-item.nav-link(href="/contacts.html") Контакты

				.mobile-footer-menu
					.wrapper
						.copyright ©2017 Viston<br>Все права защищены
						.socialContacts
							ul
								li
									a.hvr-pop(href="#", target="_blank", nofollow)
										i.mdi.mdi-facebook
								li
									a.hvr-pop(href="#", target="_blank", nofollow)
										i.mdi.mdi-twitter
								li
									a.hvr-pop(href="#", target="_blank", nofollow)
										i.mdi.mdi-google-plus

			include ../components/common/search
