header
	.container
		nav.navbar.navbar-expand-lg
			a.navbar-brand(href="#") VISTON

			.collapse.navbar-collapse.justify-content-end#navbarNavAltMarkup
				ul.navbar-nav
					span.nav-item.nav-link.active(href="#") Главная 
					a.nav-item.nav-link(href="#") Продукция
					a.nav-item.nav-link(href="#") Услуги
					a.nav-item.nav-link(href="#") Карьера
					a.nav-item.nav-link(href="#") Контакты

				.mobile-footer-menu
					.wrapper
						.copyright ©2017 Viston<br>Все права защищены
						.socialContacts
							ul
								li
									a.hvr-pop(href="#", target="_blank", nofollow)
										i.mdi.mdi-facebook
								li
									a.hvr-pop(href="#", target="_blank", nofollow)
										i.mdi.mdi-twitter
								li
									a.hvr-pop(href="#", target="_blank", nofollow)
										i.mdi.mdi-google-plus

			include ../components/common/search
