.langs-wrapper.dropdown
	.container
		span.text Язык сайта:
		span#langsDropdown(data-toggle="dropdown",
							aria-haspopup="true",
							aria-expanded="false") Ru
			i.mdi.mdi-chevron-down
		.dropdown-menu(aria-labelledby="dropdownMenuButton")
			a.dropdown-item(href="#") UA
			a.dropdown-item(href="#") EN
			a.dropdown-item(href="#") DE