.slides-services {

	&.slider {
		margin: 0px 0px 101px;

		.slick-slide {
			height: auto;

			.col-md-4{
				padding: 0px;
			}

			.item-service-wrapper {
			    margin-bottom: 0px;
			    max-width: 330px;
    			margin: auto;
				display: -webkit-box;
				display: -ms-flexbox;
				display: flex;
				-webkit-box-align: center;
				-ms-flex-align: center;
				align-items: center;
			}
		}

		.slick-dots {
    		bottom: -49px;

			li {
				button:before {
					color: $white;
				    // opacity: 0.7;
				}
				
				&.slick-active{
					button:before {
						// color: $orange;
						// opacity: 1;
					}
				}
			}
		}
	}
}

.services-section-wrapper {
	background: rgba(29, 53, 58, 0.9) url('/images/bg/services_section_bg.png') no-repeat center top;
	position: relative;

	.mask {
		background: rgba(29, 53, 58, 0.9);
		position: absolute;
		z-index: 0;
		top: 0;
		bottom: 0;
		left: 0;
		right: 0;
	}

	.item-service-wrapper {
		display: -webkit-box;
		display: -ms-flexbox;
		display: flex;
		margin-bottom: 77px;

		@media(max-width: 923px){
			margin-bottom: 56px;
		}

		.icon-item {
			width: 80px;
			height: 80px;
			@include border-radius(50%);
			overflow: hidden;
			position: relative;
			margin-right: 24px;
			background: rgba(255, 255, 255, 0.05);

			@media(max-width: 1379px){
				width: 64px;
				height: 64px;
			}

			img {
				max-width: 95%;
				max-height: 95%;

				@media(max-width: 1379px){
					max-width: 36px;
					max-height: 52px;
				}
			}
		}

		.info-item {
			width: calc(100% - 104px);
			max-width: 250px;

			@media(max-width: 1379px){
				max-width: 225px;
			}

			.title {
				color: #FFFFFF;
				font-style: normal;
				font-weight: 500;
				line-height: normal;
				font-size: 18px;
				margin-bottom: 8px;
				cursor: default;

				@media(max-width: 1379px){
					font-size: 16px;
				}
			}

			.text {
				font-style: normal;
				font-weight: 400;
				line-height: normal;
				font-size: 14px;
				color: #FFFFFF;
				opacity: 0.7;
				cursor: default;

				@media(max-width: 1379px){
					font-size: 13px;
				}
			}
		}
	}

	.btn-wrapper {
		margin-top: 32px;

		@media(max-width: 1379px) and (min-width: 924px){
			margin-top: 14px;
		}
		@media(max-width: 923px){
			margin-top: 0px;
		}
	}
}

.section-contacts_feedback-wrapper {
	#map {
		width: 100%;
		max-width: 475px;
		height: 580px;

		@media(max-width: 1379px){
		    max-width: 395px;
		    height: 556px;
		}
	}

	form {
		margin: 0px;
		padding: 0px;

		@media(max-width: 680px){
			max-width: 420px;
			margin: auto;
			padding: 0px 12px;
		}

		.second {
			text-align: right;

			.label-text {
				text-align: left;
			}
		}

		.section-title {
			@media(min-width: 924px){
				text-align: left;
			}
		}

		.col-md-6 {
			label {
				width: 100%;
				@media(min-width: 924px){
					max-width: 312px;
				}
			}
		}

		label {
			width: 100%;

			textarea {
				resize: vertical;
				height: 40px;
				min-height: 40px;
			}
		}

		@media(max-width: 680px){
			.btn-default {
				margin: 0 auto;
				display: block;
			}
			.icheckbox {
				position: absolute;
				top: -3px;
				margin: 0px;
				left: 16px;
			}
			.check-group {
				padding-left: 36px;
			}
		}
		@media(max-width: 420px){
			.icheckbox {
				top: 4px;
			}
		}
	}
}