.container-fluid
	.row
		//- .col-12.min-240px.d-md-none.d-xl-none.d-lg-none.d-sm-block.d-xs-block.special-offer-case(style="background-image: url(\"/images/bg/products.png\"); background-size: cover; background-position: center;")
		.col-md-5.special-offer-case
			.info-wrapper
				.title Шикарное промо - супер предложение
				.text Вы просто не сможете отказаться от нашего предложения, а если и попробуете, то наши крепкие сотрудники помогут вам передумать.
				a.btn.btn-default.dark(href="#", target="_blank") подробнее
		.col-md-7.d-none.d-sm-none.d-xs-none.d-md-block.d-xl-block.d-lg-block.special-offer-case(style="background-image: url(\"/images/bg/products.png\"); background-size: cover; background-position: center;")