// Carousel
.carousel {
	height: 860px;
	max-height: 100vh;
	min-height: 620px;

	@media(max-width: 923px){
		height: 100vh;
		max-height: 100vh;
		min-height: 460px;
	}

	.carousel-item {
		height: 100%;

		.item {
			height: 100%;
			position: absolute;
			top: 0;
			bottom: 0;
			left: 0;
			right: 0;
			background-repeat: no-repeat;
			background-position: center;
			background-size: cover;
			z-index: 0;

			@media(max-width: 1199px){
				background-position: left;
			}

			@media(max-width: 923px){
				filter: blur(12px);
				width: calc(100% + 40px);
				left: -20px;
				top: -14px;
				height: calc(100% + 40px);
			}

			&.blur {
				filter: blur(12px);
				width: calc(100% + 40px);
				left: -20px;
				top: -14px;
				height: calc(100% + 40px);
			}

			
			.mask {
				position: absolute;
				width: 100%;
				height: 100%;
				left: 0;
				top: 0;
				right: 0;
				bottom: 0;

				&:not(.dark) {
					background: rgba(255, 214, 0, 0.4);
					mix-blend-mode: color;
				}

				&.grey {
					background: rgba(29, 53, 58, 0.9);
				}

				&.dark {
					background: rgba(29, 53, 58, 0.9);
				}
			}
		}

		.info-wrapper {
			position: relative;
			z-index: 1;
			height: 100%;
			padding-top: 80px;
			padding-bottom: 80px;
		}

		.description-case {
			max-width: 480px;

			@media(max-width: 923px){
				max-width: 450px;
			}

			.title {
				font-style: normal;
				font-weight: bold;
				line-height: normal;
				font-size: 36px;
				color: $white;
				margin-bottom: 32px;

				@media(max-width: 1379px) and (min-width: 924px) {
					font-size: 32px;
				}

				@media(max-width: 923px){
					font-size: 28px;
				}
			}

			.text {
				font-style: normal;
				font-weight: 400;
				line-height: normal;
				font-size: 18px;
				color: $white;
				opacity: 0.8;
				position: relative;
				padding-left: 38px;

				@media(max-width: 1379px) and (min-width: 924px) {
					font-size: 16px;
				}

				@media(max-width: 923px){
					font-size: 14px;
				}

				&::before {
					content: '';
					height: 100%;
					display: block;
					width: 1px;
					background: $orange;
					position: absolute;
					left: 0;
				}
			}

			.btn {
				margin-top: 40px;
			}

		}
	}
}